
.euiKBox {
  //border: 5px solid green;
  display: grid;
  overflow: hidden;
  //background: white;
  margin: 5px 0 5px 5px;

  &:last-child {
    margin: 5px;
  }

  .BoxTreeInstance {
    display: grid;
    background: white;
    overflow: auto;
    margin: 15px;
  }
}

.euiCanvas {
  position: absolute;
  //width: 300px;
  //height: 200px;
}