$tabs-border-color: rgb(225, 225, 225);
$colorComponentBackground: rgba(155, 155, 155, 1);
$colorComponentBorder: rgba(225, 225, 225, 1);
$colorBoxBackground: rgba(175, 175, 175, 1);

.DatabaseImport {
    display: grid;
    background: $colorComponentBackground;
    grid-template-columns: 2fr 3fr 3fr;
    grid-gap: 5px;
    margin: 5px;
    border: 1px solid $colorComponentBorder;
    padding: 3px;
    overflow: hidden;

    .DivTest {
        //display: inline-block;
        background: rgba(255, 0, 0, 0.2);
        margin: 5px;
    }

    .BoxProductsInfo {
        display: grid;
        //background: rgba(55,175, 255, 0.2);
        //border: 1px solid rgba(55,55,55,1);
        grid-template-rows: 1fr 160px;
        grid-gap: 5px;
        overflow: hidden;
        background: white;

        .BoxTree {
            background: rgba(55, 175, 255, 0.2);
            //border: 1px solid rgba(55,55,55,1);
            display: grid;
            overflow: auto;
            margin: 5px;
        }

        .BoxDescription {
            background: rgba(255, 255, 255, 1);
            //border: 1px solid rgba(55,55,55,1);
        }
    }

    .BoxKnown {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-gap: 5px;
        overflow: hidden;

        .BoxSelect {
            display: grid;
        }

        .BoxToolbar {
            background: rgba(255, 255, 255, 1);
            display: grid;
            grid-template-columns: 1fr auto;

            .BoxSearch {
                margin: 3px 3px 3px 3px;
            }

            Button {
                margin: 3px 3px 3px 0;

                &:first-child {
                    margin: 0;
                }
            }
        }

        .BoxTreeAndTable {
            display: grid;
            grid-template-columns: 80px 1fr;
            overflow: hidden;
            background: white;

            .BoxList {
                display: grid;
                background: rgba(255, 255, 255, 1);
                overflow: auto;
                margin: 5px;
            }

            .BoxTree {
                display: grid;
                grid-template-rows: 1fr auto auto;
                background: rgba(255, 255, 255, 1);
                overflow: hidden;
                margin: 5px;

                .BoxTree2 {
                    overflow: auto;
                }

                .HLine {
                    display: grid;
                    height: 5px;
                }

                .BoxTable {
                    background: yellow;
                    display: grid;
                    height: 200px;
                }
            }

        }
    }

    .BoxButtons {
        display: grid;
        background: $colorBoxBackground;
        justify-content: center;
        align-content: center;
        padding: 5px;

        Button {
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .BoxUnknown {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-gap: 5px;
        overflow: hidden;

        .BoxSelect {
            display: grid;
        }

        .BoxUnknownToolbar {
            background: rgba(255, 255, 255, 1);
            display: grid;
            grid-template-columns: 1fr auto auto auto;

            .BoxSearch {
                margin: 3px 3px 3px 3px;
            }

            Button {
                margin: 3px 3px 3px 0;

                &:first-child {
                    margin: 0;
                }
            }
        }

        .BoxUnknownTabs {
            display: grid;
            overflow: hidden;

            .ant-tabs {
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-rows: auto 1fr;
                background: $colorBoxBackground;

                .ant-tabs-nav {
                    margin: 5px 5px 0 0;
                    padding: 0;

                    &:before {
                        border-bottom: 1px solid $tabs-border-color;
                        margin: 0 5px 0 5px;
                    }

                    .ant-tabs-nav-wrap {
                        display: grid;
                        justify-content: end;

                        .ant-tabs-tab {
                            border: {
                                width: 1px;
                                style: solid;
                                color: $tabs-border-color;
                            }
                            background: $tabs-border-color;

                        }

                        .ant-tabs-tab-active {
                            border: {
                                width: 1px 1px 0 1px;
                                style: solid;
                                color: $tabs-border-color;
                            }
                            background: white;
                        }
                    }
                }

                .ant-tabs-content-holder {
                    display: grid;
                    overflow: hidden;
                    padding: 0 5px 5px 5px;

                    .ant-tabs-content {
                        margin: 0;
                        border: {
                            width: 0 1px 1px 1px;
                            style: solid;
                            color: $tabs-border-color;
                        }
                        background: white;
                        display: grid;
                        overflow: hidden;

                        .ant-tabs-tabpane {
                            display: grid;
                            margin: 0;
                            padding: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }


        .BoxUnknownListAndTree {
            display: grid;
            grid-template-columns: 80px 1fr;
            overflow: hidden;

            .BoxUnknownList {
                margin: 5px;
                display: grid;
                background: rgba(255, 255, 255, 1);
                overflow: auto;
            }

            .BoxUnknownTree {
                margin: 5px;
                display: grid;
                grid-template-rows: 1fr auto auto;
                background: rgba(255, 255, 255, 1);
                overflow: hidden;

                .BoxUnknownTree2 {
                    overflow: auto;
                }

                .HLine {
                    display: grid;
                    height: 5px;
                }

                .BoxTable {
                    background: yellow;
                    display: grid;
                    height: 200px;
                }
            }

        }
    }
}
