$tabs-border-color: rgb(225,225,225);
$colorComponentToolbar: rgb(75,175,255);
$colorComponentBackground: rgba(55,155,255,1);

.BoxHidden {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-width: 0 !important;
    overflow: hidden !important;
}

.BoxNormal {

}

.DatabaseExportSmall {
    grid-template-columns: auto 2fr 3fr !important;
}

.DatabaseExportSmallSmall {
    grid-template-columns: auto auto 1fr !important;
}

.DatabaseExport {
    display: grid;
    grid-template-columns: 300px 500px 1fr;
    background: rgb(15,35,75);
    border: 1px solid rgba(55, 55, 55, 1);
    margin: 5px;
    overflow: hidden;

    .BoxProducts {
        border: 1px solid $colorComponentBackground;
        //background: lightgray;
        display: grid;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        margin: 3px;

        .BoxTitleBar {
            //border: 1px solid rgba(55,55,55,1);
            background: $colorComponentToolbar;
            display: grid;
            grid-template-columns: 1fr auto;

            .BoxTitle {
                display: grid;
                align-content: center;
                margin: 0 0 0 5px;
                color: black;
                padding: 3px;
                font-weight: bold;
            }
        }

        .BoxTree {
            background: rgba(55, 175, 255, 0.2);
            //border: 1px solid rgba(55,55,55,1);
            display: grid;
            overflow: auto;
            margin: 3px 3px 0 3px;
        }
    }

    .BoxKnown {
        border: 1px solid $colorComponentBackground;
        //background: lightgray;
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        overflow: hidden;
        margin: 3px 3px 3px 0;

        .BoxTitleBar {
            //border: 1px solid rgba(55,55,55,1);
            background: $colorComponentToolbar;
            display: grid;
            grid-template-columns: 1fr auto;

            .BoxTitle {
                display: grid;
                align-content: center;
                margin: 0 0 0 5px;
                color: black;
                padding: 3px;
                font-weight: bold;
            }

        }

        .BoxSelect {
            display: grid;
            margin: 5px 5px 0 5px;
        }

        .BoxToolbar {
            //background: rgba(255, 255, 255, 1);
            margin: 3px 3px 0 3px;
            display: grid;
            grid-template-columns: auto 1fr;

            .BoxButtons {
                display: grid;
                align-content: center;
                margin-left: 5px;
                grid-template-columns: auto auto;
            }

            //.BoxCheckbox {
            //    display: grid;
            //    align-content: center;
            //    background: red;
            //    margin: 0 3px 0 0;
            //    color: white;
            //}

            .BoxSearch {
                margin: 3px 2px 3px 3px;
            }
        }

        .BoxTreeAndTable {
            display: grid;
            grid-template-columns: 120px 1fr;
            overflow: hidden;
            //background: white;
            //margin: 3px;

            .BoxList {
                display: grid;
                background: rgba(255, 255, 255, 1);
                overflow: auto;
                margin: 5px;
            }

            .ant-tree-switcher {
                width: 0;
                margin-left: 3px;
            }

            .BoxTree {
                display: grid;
                grid-template-rows: 1fr auto auto;
                background: rgba(255, 255, 255, 1);
                overflow: hidden;
                margin: 5px;

                .BoxTree2 {
                    overflow: auto;
                }

                .HLine {
                    display: grid;
                    height: 5px;
                }

                .BoxTable {
                    background: yellow;
                    display: grid;
                    height: 200px;
                }
            }

        }
    }

    .BoxExport {
        border: 1px solid $colorComponentBackground;
        //background: lightgray;
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        overflow: hidden;
        margin: 3px 3px 3px 0;

        .BoxTitleBar {
            //border: 1px solid rgba(55,55,55,1);
            background: $colorComponentToolbar;
            display: grid;
            grid-template-columns: 1fr auto;

            .BoxTitle {
                display: grid;
                align-content: center;
                margin: 0 0 0 5px;
                color: black;
                padding: 3px;
                font-weight: bold;
            }

        }

        .BoxSelect {
            display: grid;
            margin: 5px 5px 0 5px;
        }

        .BoxToolbar {
            //background: rgba(255, 255, 255, 1);
            margin: 3px 3px 0 3px;
            display: grid;
            grid-template-columns: auto 1fr;

            .BoxButtons {
                display: grid;
                align-content: center;
                margin-left: 5px;
                grid-template-columns: auto auto auto;
                grid-gap: 3px;
            }

            .BoxSearch {
                margin: 3px 2px 3px 3px;
            }
        }

        .BoxTree {
            display: grid;
            overflow: hidden;
            background: white;
            margin: 3px;

            .BoxTreeInstance {
                display: grid;
                background: white;
                overflow: hidden;
                margin: 50px !important;
            }

            //.euiKBox {
            //    .BoxTreeInstance {
            //        display: grid;
            //        background: white;
            //        overflow: hidden;
            //        margin: 50px !important;
            //    }
            //}

        }
    }
}
