$tabs-border-color: rgb(225, 225, 225);
$colorTitleBarBackground: rgb(175, 225, 255);
$colorBoxBackground: lightgray;
$colorBoxPropertiesTitleBarBackground: darkgray;

$debugBorderWidth: 0px;
$debugBorderColor: red;
$debugBorderColor2: green;

.BoxHidden {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-width: 0 !important;
    overflow: hidden !important;
}

.MddDataFlow {
    background: #0f4f8f;
    display: grid;
    overflow: hidden;

    .BoxErDiagram {
        border: $debugBorderWidth solid red;
        display: grid;
        background: $colorBoxBackground;
        margin: 3px 3px 3px 0;
        grid-template-rows: auto 1fr;
        overflow: hidden;

        .BoxTitleBar {
            border: $debugBorderWidth solid red;
            background: $colorTitleBarBackground;
            display: grid;
            grid-template-columns: 1fr auto;
            // height: 5px;

            .BoxTitle {
                display: grid;
                align-content: center;
                margin: 0 0 0 5px;
                color: black;
            }
        }

        .BoxContent {
            border: $debugBorderWidth solid red;
            display: grid;
            grid-template-columns: 300px 140px 1fr 360px;
            grid-gap: 3px;
            margin: 3px;
            overflow: hidden;

            .BoxUpDown {
                border: $debugBorderWidth solid green;
                overflow: hidden;
                display: grid;
                grid-template-rows: auto 1fr;
                background: lighten(lightgray, 10%);

                .BoxLeftRight {
                    border: $debugBorderWidth solid red;
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: 80px 1fr;
                    background: white;
                    margin: 0 0 3px 0;

                    .BoxList {
                        border: $debugBorderWidth solid red;
                        overflow: auto;
                        display: grid;
                        background: rgba(255, 255, 255, 1);
                        margin: 5px;
                    }

                    .BoxTree {
                        border: $debugBorderWidth solid red;
                        overflow: hidden;
                        display: grid;
                        grid-template-rows: 1fr auto auto;
                        background: rgba(255, 255, 255, 1);
                        margin: 5px 5px 5px 0;

                        .BoxTreeInstance {
                            border: $debugBorderWidth solid red;
                            display: grid;
                            overflow: auto;
                        }
                    }
                }

                .BoxToolbarErDiagram {
                    border: $debugBorderWidth solid red;
                    background: rgba(255, 255, 255, 1);
                    margin: 0 0 3px 0;
                    display: grid;
                    grid-template-columns: 1fr auto auto auto auto;

                    .BoxSearch {
                        margin: 3px 2px 3px 3px;
                    }

                    Button {
                        margin: 3px 3px 3px 0;

                        &:first-child {
                            margin: 0;
                        }
                    }
                }

                .BoxTreeErDiagram {
                    border: $debugBorderWidth solid red;
                    overflow: hidden;
                    display: grid;
                    grid-template-rows: 1fr auto auto;
                    background: white;

                    .BoxTree {
                        overflow: hidden;
                        display: grid;
                        background: white;
                        margin: 5px;

                        .BoxTreeInstance {
                            border: $debugBorderWidth solid red;
                            display: grid;
                            overflow: auto;
                        }
                    }
                }
            }

            .BoxEntities {
                border: 1px solid lighten($colorBoxBackground, 30%);
                display: grid;
                background: lighten(lightgray, 15%);

                .x6-widget-stencil {
                    border: $debugBorderWidth solid red;
                    position: relative;

                    .x6-widget-stencil-group[data-name=groupModels] {
                        height: 120px;
                    }

                    .x6-widget-stencil-group[data-name=groupEvents] {
                        height: 200px;
                    }

                    .x6-widget-stencil-group[data-name=groupControllers] {
                        height: 120px;
                    }

                    .x6-widget-stencil-group[data-name=groupTransformers] {
                        height: 120px;
                    }
                }
            }

            .box-box-canvas {
                border: 1px solid lighten($colorBoxBackground, 30%);
                display: grid;
                grid-template-rows: auto 1fr;
                overflow: hidden;

                .box-box-canvas-toolbar {
                    border: 1px solid lighten($colorBoxBackground, 30%);
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-content: end;
                    background: lighten($colorBoxBackground, 15%);
                    margin: 3px;

                    .box-box-canvas-toolbar-title {

                    }

                    .box-box-canvas-toolbar-buttons {
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                        margin: 3px;

                        Button {
                            margin-left: 3px;
                        }
                    }
                }

                .box-canvas {
                    border: 1px solid lighten($colorBoxBackground, 30%);
                    display: grid;
                    margin: 0 3px 3px 3px;
                }
            }

            .box-properties {
                display: grid;
                overflow: hidden;

                .form-x6-properties {
                    display: grid;
                    border: 1px solid lighten($colorBoxBackground, 30%);
                    grid-template-rows: auto 1fr;
                    background: lighten($colorBoxBackground, 15%);
                    grid-gap: 5px;
                    overflow: hidden;

                    .box-properties-title-bar {
                        display: grid;
                        grid-template-rows: auto auto;
                        justify-content: center;
                        align-content: center;
                        grid-gap: 5px;

                        .box-properties-title {
                            display: grid;
                            color: black;
                            justify-content: center;
                        }

                        .box-properties-buttons {
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-gap: 3px;
                        }
                    }

                    .box-properties-content {
                        display: grid;
                        grid-template-rows: auto auto 1fr;
                        grid-gap: 3px;
                        margin: 3px;
                        overflow: hidden;

                        .box-form-items-table {
                            display: grid;
                            overflow: hidden;

                            .BoxTree {
                                border: $debugBorderWidth solid red;
                                overflow: hidden;
                                display: grid;
                                grid-template-rows: 1fr auto auto;
                                background: rgba(255, 255, 255, 1);
                                margin: 5px 5px 5px 0;

                                .BoxTreeInstance {
                                    border: $debugBorderWidth solid red;
                                    display: grid;
                                    overflow: auto;
                                }
                            }
                        }

                        .box-form-items-table-column{
                            display: grid;
                            grid-template-rows: auto auto 1fr;
                            grid-gap: 3px;
                            overflow: hidden;

                            .BoxTree {
                                border: $debugBorderWidth solid red;
                                overflow: hidden;
                                display: grid;
                                grid-template-rows: 1fr auto auto;
                                background: rgba(255, 255, 255, 1);
                                margin: 5px 5px 5px 0;

                                .BoxTreeInstance {
                                    border: $debugBorderWidth solid red;
                                    display: grid;
                                    overflow: auto;
                                }
                            }
                        }
                        .form-properties {
                            display: grid;
                            grid-template-rows: auto auto;
                        }

                    }
                }
            }
        }
    }
}
