$tabs-border-color: rgb(225, 225, 225);
$colorComponentToolbar: rgb(175, 225, 255);


.clsIndexColumns {
    display: grid;
    //background: yellow;

    .clsIndexColumn {
        display: grid;
        grid-template-columns: 1fr auto;
        //background: red;
        margin: 3px;
    }

}

.clsPartitionNames {
    display: grid;
    //background: yellow;

    .clsPartitionName {
        display: grid;
        grid-template-columns: 1fr auto;
        //background: red;
        margin: 3px;
    }

}

.clsPartitionHighValues {
    display: grid;
    //background: yellow;

    .clsPartitionHighValue {
        display: grid;
        grid-template-columns: 1fr auto;
        //background: red;
        margin: 3px;
    }

}

.BoxServicePerformanceNormal {
    grid-template-columns: 1fr 2fr;
}

.BoxServicePerformanceSmall {
    grid-template-columns: auto 1fr;
}

.ServicePerformance {
    background: rgba(55, 175, 255, 0.2);
    border: 1px solid rgba(55, 55, 55, 1);
    display: grid;
    grid-gap: 5px;
    margin: 5px;
    padding: 5px;
    overflow: hidden;

    .BoxKpiRelatedNormal {
        grid-template-rows: 7fr 4fr;
        grid-gap: 5px;
    }

    .BoxKpiRelatedSmall {
        grid-template-rows: auto 1fr;
        grid-gap: 0;
        background: black;
    }

    .BoxKpiSchemas {
        background: darkgray;
        //border: 1px solid rgba(55,55,55,1);
        display: grid;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        border: 1px solid $colorComponentToolbar;

        .BoxTitleBar {
            background: $colorComponentToolbar;
            //border: 1px solid rgba(55,55,55,1);
            display: grid;
            grid-template-columns: 1fr auto auto;
            //justify-content: end;
            //align-content: center;
            padding: 3px;
            font-weight: bold;

            .BoxTitle {
                margin: 0 0 0 10px;
                color: black;
            }

            .BoxButtons {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                grid-gap: 3px;

                Button {

                    &:last-child {
                        margin-right: 3px;
                    }
                }
            }
        }

        .BoxTree {
            background: rgba(55, 175, 255, 0.2);
            display: grid;
            grid-template-rows: auto auto 1fr;
            overflow: hidden;
            margin: 5px;
            grid-gap: 3px;

            .BoxCommit {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-gap: 3px;
            }

            .BoxSearch {

            }

            .BoxTreeInstance {
                display: grid;
                overflow: auto;

                .BoxSchemaTitle {
                    white-space: nowrap;
                }
            }
        }
    }

    .BoxKpiRelated {
        display: grid;
        overflow: hidden;

        .BoxKpisAndProperties {
            display: grid;
            grid-template-columns: 5fr 6fr;
            grid-gap: 5px;
            overflow: hidden;

            .BoxKpisAndCounterTabNormal {
                grid-template-rows: 1fr 1fr;

            }

            .BoxKpisAndCounterTabSmall {
                grid-template-rows: auto 0;
                background: red;
            }

            .BoxKpisAndCounterTab {
                border: 1px solid $colorComponentToolbar;
                background: darkgray;
                display: grid;
                overflow: hidden;

                .BoxKpis {
                    border: 1px solid $colorComponentToolbar;
                    background: darkgray;
                    display: grid;
                    grid-template-rows: auto 1fr;
                    overflow: hidden;

                    .BoxTitleBar {
                        //border: 1px solid rgba(55,55,55,1);
                        background: $colorComponentToolbar;
                        display: grid;
                        grid-template-columns: 1fr auto auto;
                        //justify-content: end;
                        //align-content: center;
                        padding: 3px;
                        font-weight: bold;

                        .BoxTitle {
                            margin: 0 0 0 10px;
                            color: black;
                        }

                        .BoxButtons {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-gap: 3px;

                            Button {

                                &:last-child {
                                    margin-right: 3px;
                                }
                            }
                        }
                    }

                    .BoxTree {
                        background: rgba(255, 255, 255, 1);
                        display: grid;
                        overflow: hidden;
                        margin: 5px;
                        background: darkgray;

                        .BoxSearch {
                            background: red;
                            //box-sizing: border-box;
                            //padding-bottom: 3px;
                        }

                        .BoxKpiTitle {
                            white-space: nowrap;
                        }

                        .BoxTree2 {
                            display: grid;
                            overflow: auto;
                        }
                    }

                }

                .BoxCounterTab {
                    border: 1px solid $colorComponentToolbar;
                    background: darkgray;
                    display: grid;
                    grid-template-rows: auto 1fr;
                    overflow: hidden;

                    .BoxTitleBar {
                        //border: 1px solid rgba(55,55,55,1);
                        background: $colorComponentToolbar;
                        display: grid;
                        grid-template-columns: 1fr auto auto;
                        //justify-content: end;
                        //align-content: center;
                        padding: 3px;
                        font-weight: bold;

                        .BoxTitle {
                            margin: 0 0 0 10px;
                            color: black;
                        }

                        .BoxButtons {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-gap: 3px;

                            Button {

                                &:last-child {
                                    margin-right: 3px;
                                }
                            }
                        }
                    }

                    .BoxTree {
                        background: rgba(255, 255, 255, 1);
                        display: grid;
                        //grid-template-rows:  auto 1fr;
                        overflow: hidden;
                        margin: 5px;
                        //grid-gap: 3px;
                        background: darkgray;

                        .BoxSearch {
                            background: red;
                            //box-sizing: border-box;
                            //padding-bottom: 3px;
                        }

                        .BoxCounterTitle {
                            white-space: nowrap;
                        }

                        .BoxTree2 {
                            display: grid;
                            overflow: auto;
                        }
                    }

                }
            }

            .BoxPropertiesBorder {
                border: 1px solid $colorComponentToolbar;
                background: darkgray;
                display: grid;
                grid-template-rows: auto auto auto auto 1fr;
                color: black;
                overflow: hidden;

                .BoxTitleBar {
                    //border: 1px solid rgba(55,55,55,1);
                    background: $colorComponentToolbar;
                    display: grid;
                    grid-template-columns: 1fr auto auto;
                    //justify-content: end;
                    //align-content: center;
                    padding: 3px;
                    font-weight: bold;

                    .BoxTitle {
                        margin: 0 0 0 10px;
                        color: black;
                    }

                    .BoxButtons {
                        display: grid;
                        grid-template-columns: auto auto;
                        grid-gap: 3px;

                        Button {

                            &:last-child {
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .BoxPropertiesSchema {
                    display: grid;
                    grid-template-rows: auto auto auto;
                    grid-gap: 5px;
                    overflow: hidden;
                    padding: 5px;

                    .BoxSchemaIds {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }

                    .BoxVendorObjectClass {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }
                }

                .BoxPropertiesKpi {
                    display: grid;
                    grid-template-rows: auto auto auto;
                    grid-gap: 5px;
                    overflow: hidden;
                    padding: 5px;

                    .BoxUsedInfo {
                        display: grid;

                        .BoxProductModuleName {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr auto;
                            grid-gap: 3px;
                        }
                    }

                    .BoxNames {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 3px;

                    }

                    .BoxKpiValues {
                        display: grid;
                        grid-template-columns:1fr 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }

                    .BoxVendorObjectClass {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }

                }

                .BoxKpiExp {
                    display: grid;
                    background: white;
                    margin: 0 5px 5px 5px;
                }
            }
        }

        .BoxKpisStandard {
            border: 1px solid $colorComponentToolbar;
            display: grid;
            grid-template-rows: auto 1fr;
            overflow: hidden;

            .BoxTitleBar {
                //border: 1px solid rgba(55,55,55,1);
                background: $colorComponentToolbar;
                display: grid;
                grid-template-columns: 1fr auto auto;
                //justify-content: end;
                //align-content: center;
                padding: 3px;
                font-weight: bold;

                .BoxTitle {
                    margin: 0 0 0 10px;
                    color: black;
                }

                .BoxButtons {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    grid-gap: 3px;

                    Button {

                        &:last-child {
                            margin-right: 3px;
                        }
                    }

                }
            }

            .BoxTableIndicators {
                //padding: 5px;
                display: grid;
                grid-template-rows: auto 1fr;
                overflow: hidden;
                background: darkgray;
                //grid-gap: 3px;

                .BoxSearch {
                    margin: 5px 5px 0 5px;
                    display: grid;
                }

                .BoxAuto {
                    display: grid;
                    overflow: hidden;
                    margin: 3px 5px 5px 5px;

                    ::-webkit-scrollbar {
                        width: 0;
                        //height:16px;
                        //background-color:#F5F5F5;
                    }

                    //::-webkit-scrollbar    //滚动条整体部分
                    //::-webkit-scrollbar-button   //滚动条两端的按钮
                    //::-webkit-scrollbar-track   // 外层轨道
                    //::-webkit-scrollbar-track-piece    //内层轨道，滚动条中间部分（除去）
                    //::-webkit-scrollbar-thumb //滚动条里面可以拖动的那个
                    //::-webkit-scrollbar-corner   //边角
                    //::-webkit-resizer   ///定义右下角拖动块的样式
                    ::-webkit-scrollbar-track {
                        //-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
                        //border-radius: 10px;
                        //border: 1px solid red;
                        background-color: #F5F5F5;
                    }

                    ::-webkit-scrollbar-track-piece {
                        //border: 3px solid green;
                    }

                    ::-webkit-scrollbar-thumb {
                        border: 3px solid #F5F5F5;
                        //border-radius: 8px;
                        //-webkit-box-shadow:inset 0 0 6px rgba(255,255,255,.3);
                        background-color: #babbbb;
                    }

                    .Box2 {
                        display: grid;
                        overflow: auto;
                        //background: red;

                        ::-webkit-scrollbar {
                            width: 16px;
                        }

                        .ColumnKey {
                            text-align: center;
                        }

                        .ColumnIesn {
                            text-align: center;
                        }

                        .BoxRecordDetail {
                            display: grid;
                            grid-template-rows: auto auto;
                        }

                        .BoxTableIndicatorCounters {
                            padding: 5px;

                            .ant-table.ant-table-small {
                                margin-left: -8px;
                            }

                            Table {
                                border: 1px solid darkgray;

                            }
                        }

                        .IndicatorCounter {
                            display: grid;
                            grid-template-columns: auto auto auto auto auto auto;
                            grid-gap: 3px;

                            div {
                                border: 1px solid darkgray;
                            }
                        }
                    }

                    //.BoxTable{
                    //    overflow: auto;
                    //    height: 100px;
                    //}
                }
            }
        }
    }

    .clsColumnTitle {
        display: grid;
        white-space: nowrap;
        justify-content: center;
    }

    .clsColumnColumnName {
        white-space: nowrap;
    }
}
