$tabs-border-color: rgb(225, 225, 225);
$colorComponentToolbar: rgb(175, 225, 255);


.clsIndexColumns {
    display: grid;
    //background: yellow;

    .clsIndexColumn {
        display: grid;
        grid-template-columns: 1fr auto;
        //background: red;
        margin: 3px;
    }

}

.clsPartitionNames {
    display: grid;
    //background: yellow;

    .clsPartitionName {
        display: grid;
        grid-template-columns: 1fr auto;
        //background: red;
        margin: 3px;
    }

}

.clsPartitionHighValues {
    display: grid;
    //background: yellow;

    .clsPartitionHighValue {
        display: grid;
        grid-template-columns: 1fr auto;
        //background: red;
        margin: 3px;
    }

}

.BoxServicePerformanceNormal {
    grid-template-columns: 1fr 2fr;
}

.BoxServicePerformanceSmall {
    grid-template-columns: auto 1fr;
}

.ServicePerformance {
    background: rgba(55, 175, 255, 0.2);
    border: 1px solid rgba(55, 55, 55, 1);
    display: grid;
    grid-gap: 5px;
    margin: 5px;
    padding: 5px;
    overflow: hidden;

    .BoxKpiRelatedNormal {
        grid-template-rows: 2fr 1fr;
        grid-gap: 5px;
    }

    .BoxKpiRelatedSmall {
        grid-template-rows: auto 1fr;
        grid-gap: 0;
        background: black;
    }

    .BoxKpiSchemas {
        background: darkgray;
        //border: 1px solid rgba(55,55,55,1);
        display: grid;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        border: 1px solid $colorComponentToolbar;

        .BoxTitleBar {
            background: $colorComponentToolbar;
            //border: 1px solid rgba(55,55,55,1);
            display: grid;
            grid-template-columns: 1fr auto auto;
            //justify-content: end;
            //align-content: center;
            padding: 3px;
            font-weight: bold;

            .BoxTitle {
                margin: 0 0 0 10px;
                color: black;
            }

            .BoxButtons {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                grid-gap: 3px;

                Button {

                    &:last-child {
                        margin-right: 3px;
                    }
                }
            }
        }

        .BoxTree {
            background: rgba(55, 175, 255, 0.2);
            //border: 1px solid rgba(55,55,55,1);
            display: grid;
            grid-template-rows: auto auto 1fr;
            overflow: hidden;
            margin: 5px;
            grid-gap: 3px;

            .BoxSearch {
                //background: red;
                box-sizing: border-box;
            }


            .BoxTreeInstance {
                display: grid;
                overflow: auto;
            }
        }
    }

    .BoxKpiRelated {
        display: grid;
        overflow: hidden;

        .BoxKpisAndProperties {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            overflow: hidden;

            .BoxKpisAndCounterTabNormal {
                grid-template-rows: 1fr 1fr;

            }

            .BoxKpisAndCounterTabSmall {
                grid-template-rows: auto 0;
                background: red;
            }
            .BoxKpisAndCounterTab {
                border: 1px solid $colorComponentToolbar;
                background: darkgray;
                display: grid;
                overflow: hidden;

                .BoxKpis {
                    border: 1px solid $colorComponentToolbar;
                    background: darkgray;
                    display: grid;
                    grid-template-rows: auto 1fr;
                    overflow: hidden;

                    .BoxTitleBar {
                        //border: 1px solid rgba(55,55,55,1);
                        background: $colorComponentToolbar;
                        display: grid;
                        grid-template-columns: 1fr auto auto;
                        //justify-content: end;
                        //align-content: center;
                        padding: 3px;
                        font-weight: bold;

                        .BoxTitle {
                            margin: 0 0 0 10px;
                            color: black;
                        }

                        .BoxButtons {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-gap: 3px;

                            Button {

                                &:last-child {
                                    margin-right: 3px;
                                }
                            }
                        }
                    }

                    .BoxTree {
                        background: rgba(255, 255, 255, 1);
                        display: grid;
                        overflow: hidden;
                        margin: 5px;
                        background: darkgray;

                        .BoxSearch {
                            background: red;
                            //box-sizing: border-box;
                            //padding-bottom: 3px;
                        }

                        .BoxTree2 {
                            display: grid;
                            overflow: auto;
                        }
                    }

                }

                .BoxCounterTab {
                    border: 1px solid $colorComponentToolbar;
                    background: darkgray;
                    display: grid;
                    grid-template-rows: auto 1fr;
                    overflow: hidden;

                    .BoxTitleBar {
                        //border: 1px solid rgba(55,55,55,1);
                        background: $colorComponentToolbar;
                        display: grid;
                        grid-template-columns: 1fr auto auto;
                        //justify-content: end;
                        //align-content: center;
                        padding: 3px;
                        font-weight: bold;

                        .BoxTitle {
                            margin: 0 0 0 10px;
                            color: black;
                        }

                        .BoxButtons {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-gap: 3px;

                            Button {

                                &:last-child {
                                    margin-right: 3px;
                                }
                            }
                        }
                    }

                    .BoxTree {
                        background: rgba(255, 255, 255, 1);
                        display: grid;
                        //grid-template-rows:  auto 1fr;
                        overflow: hidden;
                        margin: 5px;
                        //grid-gap: 3px;
                        background: darkgray;

                        .BoxSearch {
                            background: red;
                            //box-sizing: border-box;
                            //padding-bottom: 3px;
                        }

                        .BoxTree2 {
                            display: grid;
                            overflow: auto;
                        }
                    }

                }
            }

            .BoxPropertiesBorder {
                border: 1px solid $colorComponentToolbar;
                background: darkgray;
                display: grid;
                grid-template-rows: auto auto auto auto 1fr;
                color: black;
                overflow: hidden;

                .BoxTitleBar {
                    //border: 1px solid rgba(55,55,55,1);
                    background: $colorComponentToolbar;
                    display: grid;
                    grid-template-columns: 1fr auto auto;
                    //justify-content: end;
                    //align-content: center;
                    padding: 3px;
                    font-weight: bold;

                    .BoxTitle {
                        margin: 0 0 0 10px;
                        color: black;
                    }

                    .BoxButtons {
                        display: grid;
                        grid-template-columns: auto auto;
                        grid-gap: 3px;

                        Button {

                            &:last-child {
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .BoxPropertiesSchema {
                    display: grid;
                    grid-template-rows: auto auto auto;
                    grid-gap: 5px;
                    overflow: hidden;
                    padding: 5px;

                    .BoxSchemaIds {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }

                    .BoxVendorObjectClass {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }
                }

                .BoxPropertiesKpi {
                    display: grid;
                    grid-template-rows: auto auto auto;
                    grid-gap: 5px;
                    overflow: hidden;
                    padding: 5px;

                    .BoxUsedInfo {
                        display: grid;

                        .BoxProductModuleName {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr auto;
                            grid-gap: 3px;
                        }
                    }

                    .BoxNames {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 3px;

                    }

                    .BoxKpiValues {
                        display: grid;
                        grid-template-columns:1fr 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }

                    .BoxVendorObjectClass {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 3px;
                    }

                }

                .BoxKpiExp {
                    display: grid;
                    background: white;
                    margin: 0 5px 5px 5px;
                }
            }
        }

        .BoxKpisStandard {
            border: 1px solid $colorComponentToolbar;
            display: grid;
            grid-template-rows: auto 1fr;
            overflow: hidden;

            .BoxTitleBar {
                //border: 1px solid rgba(55,55,55,1);
                background: $colorComponentToolbar;
                display: grid;
                grid-template-columns: 1fr auto auto;
                //justify-content: end;
                //align-content: center;
                padding: 3px;
                font-weight: bold;

                .BoxTitle {
                    margin: 0 0 0 10px;
                    color: black;
                }

                .BoxButtons {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-gap: 3px;

                    Button {

                        &:last-child {
                            margin-right: 3px;
                        }
                    }

                }
            }

            .BoxTableIndicators {
                padding: 5px;
                display: grid;
                grid-template-rows: auto 1fr;
                overflow: hidden;
                background: darkgray;
                grid-gap: 3px;

                .BoxAuto {
                    display: grid;
                    overflow: auto;

                }
            }
        }
    }

    .clsColumnTitle {
        display: grid;
        white-space: nowrap;
        justify-content: center;
    }

    .clsColumnColumnName {
        white-space: nowrap;
    }
}
