$tabs-border-color: rgb(225, 225, 225);
$colorComponentToolbar: rgb(175, 225, 255);

.BoxHidden {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-width: 0 !important;
    overflow: hidden !important;
}

.shadowElement {
    top: -999px;
    left: -999px;
    opacity: 0;
    position: absolute;
}

.InputReadonly {
    padding: 0;
    margin: 0;
    color: black;
    font-weight: bold;
}


.ServiceProjectSmall {
    grid-template-columns: auto 1fr !important;
}

.ServiceProject {
    background: #0f4f8f;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;

    .BoxProject {
        overflow: hidden;
        display: grid;
        margin: 3px 3px 5px 3px;
        grid-template-columns: 1fr 2fr;

        .BoxTreeProject {
            overflow: hidden;
            display: grid;
            grid-template-rows: auto 1fr;
            background: darkgray;
            border: 1px solid lighten($colorComponentToolbar, 50%);

            .BoxTitleBar {
                //border: 1px solid rgba(55,55,55,1);
                //border: {
                //    width: 0 0 1px 0;
                //    style: solid;
                //    color: darken($colorComponentToolbar, 50%);
                //}
                background: $colorComponentToolbar;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr auto;
                //justify-content: end;
                font-weight: bold;
                height: 32px;

                .BoxTitle {
                    margin: 0 0 0 10px;
                    color: black;
                    display: grid;
                    align-content: center;
                }

                .BoxButtons {
                    display: grid;
                    align-content: center;
                    margin: 0 5px 0 0;
                    grid-template-columns: auto auto auto auto;
                    grid-gap: 3px;
                }
            }

            .BoxTreeInstance {
                background: #4b7d4b;
                overflow: hidden;
                display: grid;
                margin: 5px;
            }
        }

        .BoxTreeKpi {
            overflow: hidden;
            display: grid;
            margin: 0 0 0 3px;
            grid-template-rows: auto 1fr;
            background: darkgray;
            border: 1px solid lighten($colorComponentToolbar, 50%);

            .BoxTitleBar {
                //border: 1px solid rgba(55,55,55,1);
                //border: {
                //    width: 0 0 1px 0;
                //    style: solid;
                //    color: darken($colorComponentToolbar, 50%);
                //}
                background: $colorComponentToolbar;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr auto;
                //justify-content: end;
                font-weight: bold;
                height: 32px;

                .BoxTitle {
                    margin: 0 0 0 10px;
                    color: black;
                    display: grid;
                    align-content: center;
                }

                .BoxButtons {
                    display: grid;
                    align-content: center;
                    margin: 0 5px 0 0;
                }
            }

            .BoxTableProjectKpis {
                background: white;
                overflow: hidden;
                display: grid;
                margin: 5px;
            }
        }
    }

    .BoxSourceKpis {
        overflow: hidden;
        display: grid;
        margin: 0 3px 3px 3px;
        grid-template-columns: auto 1fr 1fr;

        .BoxTreeSchema {
            overflow: hidden;
            display: grid;
            grid-template-rows: auto 1fr;
            background: darkgray;
            border: 1px solid lighten($colorComponentToolbar, 50%);

            .BoxTitleBar {
                //border: 1px solid rgba(55,55,55,1);
                //border: {
                //    width: 0 0 1px 0;
                //    style: solid;
                //    color: darken($colorComponentToolbar, 50%);
                //}
                background: $colorComponentToolbar;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr auto;
                //justify-content: end;
                font-weight: bold;
                height: 32px;
                color: black;

                .BoxTitle {
                    margin: 0 0 0 10px;
                    display: grid;
                    align-content: center;
                }

                .BoxButtons {
                    display: grid;
                    align-content: center;
                    margin: 0 5px 0 20px;
                    grid-template-columns: auto auto auto auto auto;

                    .clsSelect {
                        font-size: 12px;
                        margin-right: 3px;
                        //background: red;
                        //border: 1px solid red;
                        //padding: 0;
                        //margin: 0;
                        //height: 24px;

                        &:last-child {
                            margin-right: 20px;
                        }
                    }
                }
            }

            .BoxTreeInstance {
                background: #4b7d4b;
                overflow: hidden;
                display: grid;
                margin: 5px;
            }
        }

        .BoxTreeKpi {
            overflow: hidden;
            display: grid;
            margin: 0 0 0 3px;
            grid-template-rows: auto 1fr;
            border: 1px solid lighten($colorComponentToolbar, 50%);
            background: darkgray;

            .BoxTitleBar {
                //border: 1px solid rgba(55,55,55,1);
                //border: {
                //    width: 0 0 1px 0;
                //    style: solid;
                //    color: darken($colorComponentToolbar, 50%);
                //}
                background: $colorComponentToolbar;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr auto;
                //justify-content: end;
                font-weight: bold;
                height: 32px;

                .BoxTitle {
                    margin: 0 0 0 10px;
                    color: black;
                    display: grid;
                    align-content: center;
                }

                .BoxButtons {
                    display: grid;
                    align-content: center;
                    margin: 0 5px 0 0;
                    grid-template-columns: 1fr auto;
                    grid-gap: 3px;

                    .BoxSearch {
                        margin-right: -2px;
                    }

                }
            }

            .BoxTreeInstance {
                background: #4b7d4b;
                overflow: auto;
                display: grid;
                margin: 5px;
            }
        }

        .BoxProperties {
            grid-template-rows: auto auto auto auto 1fr;
            border: 1px solid lighten($colorComponentToolbar, 50%);
            background: darkgray;
            display: grid;
            color: black;
            margin: 0 0 0 3px;
            overflow: hidden;

            .BoxTitleBarSchema {
                background: $colorComponentToolbar;
                display: grid;
                grid-template-columns: 1fr;
                height: 32px;
                //border: {
                //    width: 0 0 1px 0;
                //    style: solid;
                //    color: lighten($colorComponentToolbar, 50%);
                //}

                .BoxTitle {
                    display: grid;
                    align-content: center;
                    margin: 0 5px 0 10px;
                    color: black;
                    font-weight: bold;
                }

                .BoxButtons {
                    display: grid;
                    align-content: center;
                    margin-left: 5px;

                    Button {

                        &:last-child {
                            margin-right: 5px;
                        }
                    }
                }
            }

            .BoxPropertiesSchema {
                display: grid;
                grid-template-rows: auto auto;
                grid-gap: 5px;
                overflow: hidden;
                padding: 5px;

                .BoxSchemaIds {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 3px;
                }

                .BoxVendorObjectClass {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 3px;
                }
            }

            .BoxTitleBarKpi {
                background: $colorComponentToolbar;
                display: grid;
                grid-template-columns: 1fr;
                height: 32px;
                //border: {
                //    width: 1px 0 1px 0;
                //    style: solid;
                //    color: lighten($colorComponentToolbar, 50%);
                //}

                .BoxTitle {
                    display: grid;
                    align-content: center;
                    margin: 0 5px 0 10px;
                    color: black;
                    font-weight: bold;
                }

                .BoxButtons {
                    display: grid;
                    align-content: center;
                    margin-left: 5px;

                    Button {

                        &:last-child {
                            margin-right: 5px;
                        }
                    }
                }
            }

            .BoxPropertiesKpi {
                display: grid;
                grid-template-rows: auto auto;
                grid-gap: 5px;
                overflow: hidden;
                padding: 5px;

                .BoxUsedInfo {
                    display: grid;

                    .BoxProductModuleName {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: 3px;
                    }
                }

                .BoxNames {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 3px;

                }

                .BoxKpiValues {
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr 1fr;
                    grid-gap: 3px;
                }

                .BoxVendorObjectClass {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 3px;
                }

            }

            .BoxKpiExp {
                display: grid;
                grid-template-rows: auto 1fr;
                margin: 0 5px 5px 5px;
                border: {
                    style: solid;
                    width: 1px;
                    color: lightgray;
                }
                border-radius: 3px;
                background: white;
                overflow: hidden;

                .BoxKpiExpDisplay {
                    display: grid;
                    margin-top: 3px;
                    background: white;
                    overflow: hidden;

                    .Expression {
                        overflow: auto;

                        div {
                            display: inline-block;
                            margin: 2px;
                        }

                        .expKb_01, .expKe_01 {
                            color: #b85b00;
                            font: {
                                size: 35px;
                            }
                        }

                        .expKb_02, .expKe_02 {
                            color: #b85b00;
                            font: {
                                size: 30px;
                            }
                        }

                        .expKb_03, .expKe_03 {
                            color: #b85b00;
                            font: {
                                size: 25px;
                            }
                        }

                        .expKb_04, .expKe_04 {
                            color: #b85b00;
                            font: {
                                size: 20px;
                            }
                        }

                        .expKb_05, .expKe_05 {
                            color: #b85b00;
                            font: {
                                size: 15px;
                            }
                        }

                        .expKb_error {
                            color: red;
                            font: {
                                size: 38px;
                            }
                        }
                        .expVar {
                            color: black;
                            font: {
                                weight: bold;
                            }
                        }
                        .expVarError {
                            color: red;
                            font: {
                                weight: bold;
                            }

                        }
                        .expOperator {
                            color: blueviolet;
                            font: {
                                weight: bold;
                                size: 20px;
                            }
                        }

                        .expNumber {
                            color: green;
                            font: {
                                weight: bold;
                            }
                        }
                    }
                }
            }
        }

    }
}
